---
import AuthorCard from "@/components/AuthorCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry, type CollectionEntry } from "astro:content";
import type { Language } from "../../../types/language.type";

export function getStaticPaths() {
  return [{ params: { lang: "nl" } }, { params: { lang: "en" } }];
}

const lang = Astro.params.lang as Language;

const authorIndex = ((lang == "nl") ?
  (await getEntry("authorsNL", "-index")) as CollectionEntry<"authorsNL">
  :
  (await getEntry("authorsEN", "-index")) as CollectionEntry<"authorsEN">
);

const authors = ((lang == "nl") ?
  await getSinglePage("authorsNL")
  :
  await getSinglePage("authorsEN")
);

---

<Base title={authorIndex.data.title}>
  <PageHeader title={authorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          authors.map((author) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <AuthorCard data={author} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
