---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import type { Language } from "../../../types/language.type";

export async function getStaticPaths() {
  var paths = new Array();
  for (var lang of ["en", "nl"]) {
    const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");
    const tags = await getTaxonomy(BLOG_FOLDER, "tags");

    const paths2 = tags.map((tag) => {
      return {
        params: { tag },
        lang: lang,
      };
    });
    paths = paths.concat(paths2);
  }
  return paths;
}

const tag = Astro.params.tag;
const lang = Astro.params.lang as Language;

const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");

// get posts by tag
const posts = await getSinglePage(BLOG_FOLDER);
const filterByTags = taxonomyFilter(posts, "tags", tag!);
const sortedPosts = sortByDate(filterByTags);
---

<Base title={tag}>
  <PageHeader title={tag} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          sortedPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
