---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import type { Language } from "../../../types/language.type";

// get static paths for all categories
export async function getStaticPaths() {
  var paths = new Array();
  for (var lang of ["en", "nl"]) {
    const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");
    const categories = await getTaxonomy(BLOG_FOLDER, "categories");

    const paths2 = categories.map((category) => {
      return {
        params: { 
          category: category,
          lang: lang,
        },
      }
    });
    paths = paths.concat(paths2);
  }
  return paths;
}

const category = Astro.params.category;
const lang = Astro.params.lang as Language;

const BLOG_FOLDER = ((lang == "nl") ? "blogNL" : "blogEN");

// get posts by category
const posts = await getSinglePage(BLOG_FOLDER);
const filterByCategories = taxonomyFilter(posts, "categories", category!);
const sortedPosts = sortByDate(filterByCategories);
---

<Base title={category}>
  <PageHeader title={category} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          sortedPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
